<template>
  <div class="clue">
    <h3>{{ title }}</h3>
    <p>
      {{ message }}
    </p>
    <p v-if="image !== undefined">
      <img :src="`/images/${image}.png`" :alt="image" >
    </p>
    <p class="light">
      Clue ontvangen om {{ startDisplayable }}.
    </p>
  </div>
</template>

<script lang="ts">
import moment from 'moment';
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class Clue extends Vue {
  @Prop() private start!: Date;
  @Prop() private title!: string;
  @Prop() private message!: string;
  @Prop() private image?: string;

  get startDisplayable() {
    return moment(this.start).format('YYYY-MM-DD HH:mm:ss');
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
$highlight1: rgba(195,  49,  73, 1);
$highlight2: rgba(168, 194,  86, 1);
$background1: rgba(243, 217, 177, 1);
$background2: rgba(194, 153, 121, 1);
$text1: rgba( 44,  62,  80, 1);

.clue {
  border: 1px solid $background1;
  background-color: lighten($background2, 5%);
  margin: 1em 4em;
  padding: 0 1em 0.5em 1em;
  border-radius: 0.3em;
}

.light {
  color: rgba($background1, 60%);
}

img {
  max-width: 75%;
}
</style>
