<template>
  <div id="app">
    <ScavengerHunt/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ScavengerHunt from './components/ScavengerHunt.vue';

@Component({
  components: {
    ScavengerHunt,
  },
})
export default class App extends Vue {}
</script>

<style lang="scss">
$highlight1: rgba(195,  49,  73, 1);
$highlight2: rgba(168, 194,  86, 1);
$background1: rgba(243, 217, 177, 1);
$background2: rgba(194, 153, 121, 1);
$text1: rgba( 44,  62,  80, 1);

body {
  background-color: $background1;
  margin: 0;
  padding: 0;
}

#app {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $text1;
}
</style>
